<footer class="my-20 h-52 mb-auto bg-zinc-900 justify-center ">
  <!-- Span top edge -->
<div class="flex justify-center py-5 ">
  <img src="images/logo.png" alt="Logo" width="60"/>
</div>
  <div class="bottom-px" >
    <p class="text-center text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Kromacoin. All rights reserved.
    </p>

    <p class="text-center text-xs text-slate-500 mt-1">
      Made by <a
        href="https://web3templates.com"
        target="_blank"
        rel="noopener"
        class="hover:underline">
        kromabyte.
      </a>
    </p>
  </div>
</footer>
